{% extends "_base.html" %}
{% block title %}{{ super() }} {{ data['title'] }} {% endblock %}
{% block crumbs %}{{ super() }}
/ <a href="{{ data['collections_path'] }}">{% trans %}Collections{% endtrans %}</a>
/ <a href="../{{ data['id'] }}">{{ data['title'] }}</a>
/ <a href="../{{ data['id'] }}/tiles">{% trans %}Tiles{% endtrans %}</a>
{%- endblock %}
{%- block extrahead %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.1/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.vectorgrid@latest/dist/Leaflet.VectorGrid.bundled.js"></script>
    <style>
      .leaflet-popup-content {
          width: 300px;
          height: 64px;
      }

      #items-map {
          max-height: 500px;
          height: 500px;
          max-width: 1000px;
      }
      .metadata-link {
        display: inline-block;
        padding: 8px 16px;
        background-color: #1B335F;
        color: white;
        text-decoration: none;
        border-radius: 4px;
        font-weight: 500;
        margin-top: 12px;
        transition: background-color 0.2s ease;
    }

    .metadata-link:hover {
        background-color: #55677F;
        text-decoration: none;
    }

    .metadata-link:focus {
        outline: 2px solid #55677F;
        outline-offset: 2px;
    }
    </style>
{%- endblock %}

{%- block body %}
    <section id="collection">
      <h1>{{ data['title'] }}</h1>
      <div class="row">
        <div class="col-md-10">
          <div id="items-map"></div>
        </div>
        <div class="col-md-1">
            <a id="metadata_link" class="metadata-link" href="{{ config['server']['url'] }}/collections/{{ data['id'] }}/tiles/{{ data['tilesets'][0] }}/metadata" target="_blank">{% trans %}Metadata{% endtrans %}</a>
          </div>
      </div>
    </section>
{%- endblock %}

{%- block extrafoot %}
    <script>
    var scheme = "{{ data['tilesets'][0] }}";
    var map = L.map('items-map').setView([{{ 45 }}, {{ -75 }}], 10);

    map.addLayer(new L.TileLayer(
        '{{ config["server"]["map"]["url"] }}', {
            maxZoom: {{ data['maxzoom'] }},
            attribution: '{{ config["server"]["map"]["attribution"] | safe }}'
        }
    ));

    {% for link in data["links"] %}
      {% if link["rel"] == "item" %}
        var tilesUrl = '{{ link["href"] }}';
      {% endif %}
    {% endfor %}
    var url = tilesUrl
        .replace('{dataset}', '{{ data["id"] }}')
        .replace('{tileMatrixSetId}', scheme)
        .replace("tileMatrix", "z")
    {% if data['tile_type'] == 'raster' %}
        url = url
            .replace("tileRow", "y")
            .replace("tileCol", "x");
        map.addLayer(new L.TileLayer(
            url, {
                maxZoom: {{ data['maxzoom'] }},
                crs: 'EPSG:3857'
            }
        ));
    {% elif data['tile_type'] == 'vector' %}
        url = url
            .replace("tileRow", "x")
            .replace("tileCol", "y");
        var VectorTileOptions = {
            interactive: true,
            rendererFactory: L.canvas.tile,
            maxZoom: {{ data['maxzoom'] }},
            indexMaxZoom: 5,
            getFeatureId: function(feat) {
                return feat.properties.id || feat.properties.fid || feat.properties.uri;
            },
            vectorTileLayerStyles: {
                {{ data["id"] }}: function(properties, zoom) {
                    return {
                        color: '#1B335F',
                        fillColor: '#1B335F',
                        weight: 0.25 + (zoom / 4),
                    }
                }
            }
        };

        var highlight;
        var clearHighlight = function() {
            if (highlight) {
                tilesPbfLayer.resetFeatureStyle(highlight);
            }
            highlight = null;
        };

        var tilesPbfLayer = L.vectorGrid.protobuf(url, VectorTileOptions)
            .on('click', function(e) { // The .on method attaches an event handler
                var uri = e.layer.properties.uri;
                L.popup()
                    .setContent(`<b>URI</b>: <a href="${uri}">${uri}</a>`)
                    .setLatLng(e.latlng)
                    .openOn(map);

                clearHighlight();
                highlight = e.layer.properties.id || e.layer.properties.fid || e.layer.properties.uri;
                tilesPbfLayer.setFeatureStyle(highlight, {
                    weight: 2 + e.layer.options.weight * 2,
                    color: '#E6000B',
                    opacity: 1,
                    fillColor: '#E6000B',
                    fill: false,
                    radius: 6,
                    fillOpacity: 1
                });

                L.DomEvent.stop(e);
            })
            .addTo(map);

        map.on('click', clearHighlight);
    {% endif %}

    bounds = L.latLngBounds([
        [
            {{ data['bounds'][1] }},
            {{ data['bounds'][0] }}
        ],[
            {{ data['bounds'][3] }},
            {{ data['bounds'][2] }}
        ]
    ]);
    map.fitBounds(bounds, maxZoom={{ data['maxzoom']}});

    </script>
{% endblock %}
