{% extends "_base.html" %}
{% block title %}{{ super() }} Home {% endblock %}
{% block body %}

<div class="row">
  <div class="col-sm-12">
    <h1>{{ config['metadata']['identification']['title'] }}</h1>
    <p>{{ config['metadata']['identification']['description'] }}</p>
    <p>
        {% for kw in config['metadata']['identification']['keywords'] %}
          <mark class="badge badge-info">{{ kw }}</mark>
        {% endfor %}
    </p>
    <div class="row">
    <div class="col-md-6">
    {% if data['collection'] %}
      <section id="collections">
        <h2>{% trans %}Collections{% endtrans %}</h2>
        <p>
          <a class="browse-link" href="{{ config['server']['url'] }}/collections?f=html">
            {% trans %}View the collections in this service{% endtrans %}</a>
        </p>
      </section>
   {% endif %}
   {% if data['stac'] %}
    <section id="collections">
      <h2>{% trans %}Sitemap{% endtrans %}</h2>
      <p>
        <a class="browse-link" href="{{ config['server']['url'] }}/stac/sitemap?f=html">
          {% trans %}View the Geoconnex sitemap{% endtrans %}</a>
      </p>
    </section>
   {% endif %}
   {% if data['process'] %}
    <section id="processes">
        <h2>{% trans %}Processes{% endtrans %}</h2>
        <p>
          <a class="browse-link" href="{{ config['server']['url'] }}/processes?f=html">
            {% trans %}View the processes in this service{% endtrans %}</a>
        </p>
    </section>
    {% endif %}
    </div>
    <div class="col-md-6">
    <section id="documentation">
      <h2>{% trans %}Documentation{% endtrans %}</h2>
      <p>
        <a class="browse-link" href="https://docs.geoconnex.us/">
          {% trans %}Geoconnex documentation{% endtrans %}</a>
      </p>
      <p>
        <a class="browse-link" href="{{ config['server']['url'] }}/openapi?f=html">
          {% trans %}Swagger UI{% endtrans %}</a>
      </p>
      <p>
        <a class="browse-link" href="{{ config['server']['url'] }}/openapi?f=json">
          {% trans %}OpenAPI Document{% endtrans %}</a>
      </p>
    </section>
    </div>
    </div>
  </div>
</div>
<style>
  .browse-link {
    font-size: 1.2em;
  }
</style>
{% endblock %}
