{% extends "_base.html" %}
{% block title %}{{ super() }} Queryables {% endblock %}
{% block crumbs %}{{ super() }}
/ <a href="../../collections">Collections</a>
/ <a href="./{{ data['id'] }}">{{ data['title'] }}</a>
/ <a href="./{{ data['id'] }}/queryables">Queryables</a>
{% endblock %}
{% block body %}
    <section id="queryables">
      <h1>Queryables of {{ data['title'] }}</h1>
      <p>
        For this collection these queryable parameters are available.
      </p>
      <div class="row">
      <div class="col-lg-6">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Queryable</th>
              <th>Type</th>
            </tr>
          </thead>  
          <tbody>
            {% for qname, qinfo in data['properties'].items() %}
            <tr>
              {% if qname == 'geometry' %}
                <th>geometry</th>
                <td><a href="{{ qinfo['$ref'] }}">{{ qname }} </a></td>
              {% else %}
                <th>{{ qname }} </th>
                <td><code>{{ qinfo['type'] }}</code></td>
                {% if 'format' in qinfo %}
                (<code>{{ qinfo['format'] }}</code>)
                {% endif %}
              {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      </div>  
    </section>
{% endblock %}

